.bg-cta {
    background-repeat: no-repeat;
    background-size: calc(300%);
    height: 91.3vh;
    animation: fade-in 2s;
}

.BannerContactIMG {
    height: 100vh;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (min-width: 640px) {
    .bg-cta {
        background-repeat: no-repeat;
        background-size: calc(250%);
    }
}

@media only screen and (min-width: 768px) {
    .bg-cta {
        background-repeat: no-repeat;
        background-size: calc(200%);
    }
}

@media only screen and (min-width: 1024px) {
    .bg-cta {
        background-repeat: no-repeat;
        background-size: calc(150%);
    }
}